main {
    padding-top: 32px;
}

.section{
    border: 8px solid green;
    width: 80%;
    border-left: none;
    margin: 8px;
}

.section a {
    padding: 6px 0;
    color: inherit;
    text-decoration: none;
    display: block;
}

.photo{
    background-image: url('../images/plans-background.jpg');
    background-color: red;
    position: fixed;
    width: 100%;
    height: 100%;
}